body {
   background-color: #fff;
    color: #333;
    font-family: 'Crimson Text', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.625;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 {
  font-size: 36px;
  margin-bottom: 30px;
}
h2 {
  font-size: 30px;
  margin-bottom: 26px;
}
h3 {
  font-size: 24px;
  margin-bottom: 22px;
}
h4 {
  font-size: 18px;
  margin-bottom: 18px;
}
h5 {
  font-size: 14px;
  margin-bottom: 16px;
}
h6 {
  font-size: 12px;
  margin-bottom: 14px;
}
p {
  margin-bottom: 1.5em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
ul {
  margin: 0 0 24px 22px;
  list-style: disc;
}
ul  ul {
  list-style: circle;
}
ul  ul ul {
  list-style: square;
}
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}
dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
table {
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed;
  width: 100%;
}
table, th, td {
  border: 1px solid rgba(51, 51, 51, 0.1);
}
th,
td {
  font-weight: normal;
    text-align: left;
    padding: 5px;
}
th {
  border-width: 0 1px 1px 0;
    font-weight: 700;
}
td {
  border-width: 0 1px 1px 0;
}
.mce-item-table, 
.mce-item-table td, 
.mce-item-table th, 
.mce-item-table caption {
  border: 1px solid rgba(51, 51, 51, 0.1);

}

/** Links **/
a,
a:active,
a:focus,
a:visited {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}